doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Stock
  link(rel='stylesheet' href='css/stock.css')
header
.navContainer
  nav.navbar
    h3.logo MWF
    ul.nav-links
      li
      a(href='/dashboard.html') Dashboard
      li
      a(href='/sales.html') Sales
      li
      a(href='/stock.html') Stock
      li
      a(href='/contact.html') Contact
body 
block content 
 