extends layout 
block content 
  .stock
      form#addStock(action='/stock' method='post')
        h1 Record Stock Here!
            label(for='pdttype') Product Type
            br
            input#pdttype(type='text' name='pdttype')
            br
            br
            label(for='pdtname') Product Name
            br
            input#pdtname(type='text' name='pdtname')
            br
            br
            label(for='cprice') Cost Price
            br
            input#cprice(type='number' name='cprice')
            br
            br
            label(for='pdtprice') Product Price
            br
            input#pdtprice(type='number' name='pdtprice')
            br
            br
            label(for='pdtquantity') Quantity
            br
            input#pdtquantity(type='number' name='pdtquantity')
            br
            br
            label(for='quality') Quality
            br
            input#quality(type='text' name='quality')
            br
            br
            label(for='date') Date
            br
            input#date(type='date' name='date')
            br
            br
            label(for='supplier') Supplier Name
            br
            input#supplier(type='text' name='supplier')
            br
            br
            .buttons
              button(type='submit') Save
              button(type='reset') Cancel
      // Footer
      footer
        p
        | &copy; 2025 Mayondo Wood &amp; Furniture Ltd. All rights reserved. |
        a(href='login.html') System Login
